
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Open Sans',sans-serif;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.special-style{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
}
nav li a{
    text-decoration: none;
 
}

.common-btn{
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 12px 24px;
}
.text-style{
    font-size: 18px;
    color: #474747;
    font-weight: 600;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 200px;
}
.banner-img{
    display: flex;
}
.banner-subttl{
    font-size: 42px;
    font-weight: 600;
    padding: 0;
    margin: 0;

}
.banner-title{
    padding: 0;
    margin: 0;
    font-size: 76px;
    font-weight: 700;
}
.description{
    color: #474747;
}
.about{
    text-align: center;
    background: rgb(255, 255, 255);
}
.about-area{
    background: #FFF8F3;
    margin: 100px 100px;
    padding: 50px;
}
.content{
    margin: 50px;
    padding: 30px;
    background-color: white;
}
.info{
    display: flex;
    justify-content: space-around;
    
    
}
.info p{
    text-align: center;
}
.title{
    font-size: 36px;
    color: #181818;
    text-align: center;
}
.sub-title{
    color:#474747;
    text-align: center;
}
.info-style{
    font-weight: 700;
}
.skill-items{
    display: flex;
    gap:30px;
}
.skills{
    padding: 150px;
}
.skill-contain{
    padding: 20px;
}
.skill{
    padding: 20px;
    box-shadow: 0px 6px 50px 20px rgba(0, 0, 0, 0.06) ;
    border-radius: 5px;

}
.resume{
    margin-bottom: 150px;
}
.resume .title{
    margin:0px;
    font-size: 28px;
}
.resume-area{
    display: flex;
    margin: 0px 100px;
    gap:30px;
    padding: 0px 100px;
}
.main-title{
    font-size: 24px;
    color: #181818;
    margin-bottom: 0px;
}
.ex-title{
    font-size: 20px;
    color: #181818;
    margin-bottom: -30px;
    padding: 0px;
}
.ex-subtitle{
    font-size: 18px;
    color:#474747;
    padding: 0;
    margin-bottom: 10px;
    padding: 0px;
    font-weight: 600;
}
.ex-description{
    font-size: 14px;
    color: #474747;
    margin: 0px;
    padding: 0px;
}
.resume .title{
    margin-bottom: 10px;
}
.each-area{
    padding: 10px 0px;
}
.btn-align{
    margin: 50px 0px;
    text-align: center;
}
.foot{
    display: flex;
    background-color: hsla(25, 98%, 51%, 0.079);
    padding: 50px 200px;
    gap: 100px;
}
.icon{
    display: flex;
    padding: 20px 10px 10px 0px;
    gap: 30px;
    font-size: 38px;
    color: #FD6E0A;
}
.footers h4{
    padding: 5px;
    font-weight: 700;
    font-size: 28px;
    padding-left: 0px;
    padding-bottom: 10px;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
input[type="text"]::placeholder,input[type="email"]::placeholder,textarea::placeholder{
    font-size: 18px;
    color: #474747;
}
.footers{
    margin-bottom: 30px;
}
